.main-div{
    max-width: 916px;
    max-height: 5820px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 23px;
    background-color: #F5F5F5;
    font-family: "Inter";
}

.img-left{
    display: block;
    margin-right: auto;
}

.img-center{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.img-right{
    display: block;
    margin-left: auto;
}

.h-center{
    text-align: center;
}

.h-right{
    text-align: right;
}